@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #f9f9f9;
}

* {
  color: #44375f;
  font-weight: 500;
}
/* NAV */
/* NAV */
/* NAV */

.App .NavBar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 9.5vh;
  padding: 1.5vw 4.3vw;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
}
.App .NavBar .NavLeft{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5vw;
}
.App .NavBar .NavLeft span{
  font-size:1.5vw;
}
.App .NavBar .NavLeft .Search{
  outline: 2px solid #d0d0d0;
  height: 2.5vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 0.5vw;
  border-radius: 2vw;
  width: 18vw;
  gap: 0.7vw;
  transition: 0.3s ease-in-out;
}
.App .NavBar .NavLeft .Search:focus-within{
  outline: 2px solid #000;
}
.App .NavBar .NavLeft input{
  background-color: transparent;
}

.App .NavBar .NavLeft input:focus{
  outline: none;
}
.App .NavBar .NavMiddle{
  padding-left: 7vw;
  display: flex;
  flex-direction: row;
  gap: 3.3vw;
}
.App .NavBar .NavRight{
  display: flex;
  flex-direction: row;
  gap: 1.5vw;
  align-items: center;
}
.App .NavBar .NavRight img{
  width: 2.5vw;
  height: 2.5vw;
}
.icons{
  font-size: 1.5vw;
}

.main{
  height: 100vh;
}

/* PROCESS */
/* PROCESS */
/* PROCESS */
.ProcessContainer{
  width: 100%;
  padding: 1.5vw 4.3vw;
}
.Fork{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4vw;
}
.Fork span{
  font-size: 3.5vw;
}

.Fork .liner{
  display: flex;
  flex-direction: row;
  gap: 2vw;

}
.Fork .liner span{
  font-size: 1.7vw;
  line-height:130%;
}
.Fork .box{
  width: 19vw;
  height: 20vh;
  border: #a596c4 solid 2px;
  border-radius: 0.7vw;
  padding: 1vw 2vw;
  transition: 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}
.Fork .box:hover{
  border: #44375f solid 2px;
}

.Fork button{
  background-color: #44375f;
  width: 10vw;
  height: 5vh;
  border-radius: 1vw;
  color: #f9f9f9;
}
.Fork .icons{
  font-size: 1.5vw;
}